@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.woff') format('woff'), url("/fonts/Lato-Regular.ttf") format('ttf');
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

a:hover {
   color: #E31D38
}

a:active {
    color: #FFFFFF;
}

body {
    margin: 0;
    background-color: #141519;
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: #191C23;
    padding: 0 32px;
}

header>.header-logo>svg {
    max-width: 115px;
}

section {
    padding: 10px;
    margin-bottom: 10em;
}

.social>a {
    margin-left: 16px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    color: #FEFEFE;
}

.flex-column h1 {
    margin-top: 64px;
    text-align: center;
    max-width: 500px;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
}

.flex-column>svg {
    max-width: 190px;
    height: 60px;
}

form {
    max-width: 360px;
    width: 100%;
    color: #fff;
}

label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

label:not(:first-child) {
    margin-top: 24px;
}

label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #191C23;
    border: 1px solid #919191;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px
}

input[type='email'],
input[type='text'],
input[type='password'] {
    position: relative;
    display: block;
    flex: 1 1 auto;
    width: 1%;
    background: #FFFFFF;
    border: 1px solid #919191;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    padding: 11px 16px;
    font-family: 'Lato', sans-serif;
}

input:focus {
    outline: none;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
}
input[type='checkbox']:after {
    box-shadow: none !important;
}

input[type='checkbox']:checked:after {
    content: '\2714';
    background: #E31D38 !important;
    color: #fff !important;
}

input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #919191;

    display: block;
    float: left;
    position: relative;
    cursor: pointer;
}

input[type='checkbox']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    line-height: 18px;
    position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #919191;
    font-size: 10px;
    -webkit-box-shadow: inset 0 1px 1px #E31D38, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 1px #E31D38, 0 1px 0 #fff;
    box-shadow: inset 0 1px 1px #E31D38, 0 1px 0 #fff;
    background: #fff;
}


.btn {
    width: 100%;
    height: 38px;
    margin: 24px 0 32px 0;
    cursor: pointer;

    font-family: 'Lato', sans-serif;

    color: #fff;
    background: #E31D38;
    border: none;
    border-radius: 5px;
}

.disable {
    background-color: #92555D;
    color: #fff;
    cursor: not-allowed;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.form-check {
    display: flex;
    width: 100%;
    margin-top: 16px;
    padding: 0;
}

.form-check>label {
    margin: 0;
    font-size: 14px;
    margin-left: 10px;
}
.form-check>label a {
    color: #E31D38;
}
.notification {
    margin: 64px 0 40px 0;
}
.notification p {
    color: #FEFEFE;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    max-width: 730px;
    text-align: center;
}

.notification p:first-of-type {
    margin-top: 64px;
}

.notification .btn {
    max-width: 160px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    color: #fff;
    background-color: #191C23;
}

footer>a {
    margin: 0 24px;
}

.justify-center {
    justify-content: center;
}

@media (max-width: 1440px) {
    .notification {
        margin: 40px 0;
    }

    .flex-column {
        margin-top: 40px;
    }

    .flex-column h1 {
        margin-top: 40px;
    }
}

@media (max-width: 500px) {
    .social {
        display: none;
    }
    .flex-column {
        margin-top: 30px;
    }
    footer {
        height: 40px;
    }
    footer>span {
        display: none;
    }

    footer>a {
        margin: 0 10px;
        font-size: 12px;
    }

    .notification {
        margin: 40px 0;
    }

    .notification p {
        font-size: 16px;
        line-height: 24px;
    }

    .notification p:first-of-type {
        margin-top: 40px;
    }
}
